[submodule "pc-nrfutil"]
	path = pc-nrfutil
	url = https://github.com/NordicSemiconductor/pc-nrfutil.git
[submodule "util/pc-nrfutil"]
	path = util/pc-nrfutil
	url = https://github.com/NordicSemiconductor/pc-nrfutil.git
